@model KurumsalWeb.Models.Model.Kategori

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Mevcut kategoriyi silmek istediğine emin misin?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" />
            @Html.ActionLink("Geri Dön", "Index",null, new { @class = "btn btn-info" })
        </div>
    }
</div>
