@model IEnumerable<KurumsalWeb.Models.Model.Bilgi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unvan)
        </th>
        <th>İşlemler</th>
 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keywords)
        </td>
        <td>
            @Html.Raw(item.Description)
        </td>
        <td>
            <img src="@item.LogoURL" width="%100" class="img-responsive"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unvan)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id = item.BilgiId }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
